.post {
  > h1 {
    font-size: 1.75rem;
    font-weight: 700;
  }

  > p {
    font-size: 1.125rem;
    margin: 0.5rem 0 1.5625rem; 
  }

  > ul {
    display: flex;
    list-style: none;

    li {
      display: flex;
      align-items: center;

      svg {
        width: 1.25rem;
        height: 1.25rem;
        margin-right: 0.5rem;
      }

      & + li {
        margin-left: 1.5rem; 
      }
    }
  }

  & + article {
    margin-top: 3.125rem;
  }
}

.morePostsButton {
  margin-top: 4.125rem;
  background: none;
  border: 0;

  color: var(--highlight);
  font-size: 1.125rem;
  font-weight: 600;
}